.highlightsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.highlights {
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: center;
}
.dishCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    width: 70vw;
    border: 1px;
    border-color: black;
    margin: 35px 0 0 0;
    gap: 30px;
}

.dishCard {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    /* gap: 20px; */
    width: 60vw;
}

.dishCardTitle {
    display: flex;
    justify-content: space-between;
}

.dishCardInfo {
    padding: 0 20px;
}

.dishCardDescription {
    color: black;
    font-weight: 400;
    min-height: 100px;
}

.dishCardPrice {
    color: #ee9972;
}

.dishSpecialsH1 {
    color: black;
    font-size: 3rem;
    margin: 15px 0 20px 0;
    font-weight: 500;
    line-height: 0.3;
}