.heroCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
    min-width: 350px;
    height: 250px;
    width: 75vw;
    margin: 0 auto;
}

@media (min-width: 680px) {
    .heroCard {
        width: 20vw;
        margin: unset;
        margin-left: 5%;

    }


}