

header {
    display: flex;
    flex-direction: column;
    background-color: #495e57;    
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-bottom: 30px;
}

header h1 {
    color: #f4ce14;
    font-size: 3.5rem;
    margin: 10px 0 0 0;
    font-weight: 500;
    line-height: 0.3;
}

header h2 {
    color: #edefee;
    padding: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 24pt;
}

header p {
    color: #edefee;
    font-weight: 600;
    
}

.heroImgContainer {

    display: flex;
    width: 375px;
    height: 370px;
    overflow: hidden;
    margin: 30px 5% 0 5%;
    border-radius: 5%;
    overflow: hidden;
}

.heroImg {
    display: flex;
    width: 100%;
}

@media (min-width: 680px) {

    /* header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        width: 100vw;
        height: auto;
    }
    
    .heroImgContainer {
        display: flex;
        margin: 20px auto;

        width: 350px;
        height: 370px;
        overflow: hidden;
        margin: 30px 5% 0 5%;

        width: 250px;
        height: 250px;
        overflow: hidden;
    } */


}

@media (min-width: 680px) and (max-width: 1024px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        width: 100vw;
        height: 320px;
    }
    
    .heroImgContainer {
        display: flex;
        margin: 30px 5% 0 5%;

        width: 250px;
        height: 250px;
        overflow: hidden;
    }

    .heroImg {
        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 300px;
    }
}

@media (min-width: 1024px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        width: 100vw;
        height: 40vh;
    }
    
    .heroImgContainer {
        display: flex;
        margin: 30px 5% 0 5%;

        width: 300px;
        height: 320px;
        overflow: hidden;
    }

    .heroImg {
        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 300px;
    }
}